<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mypodcast</title>
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="language type" placeholder="язык программирования">
        <input type="text" name="name" placeholder="название подкаста">
        <input type="text" name="source" placeholder="источник подкаста">
        <input type="text" name="topic" placeholder="тема подкаста">
        <input type="text" name="length" placeholder="длительность подкаста">
        <button type="submit">Загрузить</button>
    </form>
</div>
</body>
</html>